PORT=5001
DATABASE_URL="mongodb://localhost:27017/workforce_wallet"
JWT_ACCESS_SECRET="supersecret_access_jwt_key_2026_workpay_prod"
JWT_REFRESH_SECRET="supersecret_refresh_jwt_key_2026_workpay_prod"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="30d"
FRONTEND_URL="http://localhost:5173"
NODE_ENV="development"
